*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   height: 40px;
   align-items: center;
   font-size: 16px;
   background-color: #171717;
   color: #F6F6F6;
   font-weight: 0;
}

#nav-links {
    display: inherit;
    flex-direction: row;
}

#nav-links li {
   list-style-type: none;
   margin: 0 1rem;
 
}

#nav-links li:last-child {
    color: #e1ad59;
    font-weight: 600;
 }

#profile-nav {
    display: inherit;
    flex-direction: row;
    
}

#profile-nav div:first-child{
    margin: 0 2rem;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #797777;
}



#profile-nav div:last-child{
    margin: 0 2rem;
}
#chevron{
    margin: 0 .2rem;
    color: white;
}

#avatar {
    background-color:#424242 ;
    border-radius: 50%;
    padding: 7px 12px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}